*.pyc
.idea
*.log
*.sqlite3
.DS_Store
*.iml
/logs
~*
*/static/upload/*
*/static/*
/*.db
*.dbm.*
*/settings/*.pem
*debug.egg
.pycharm_helpers/*
node_modules/*
docker/es/plugins
celerybeat-*
*bak.sql
conn*.sh
docker/etc/data/*
test_db/*
build/
